<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KinectDissertationProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <KinectDissertationProject.Properties.Settings>
            <setting name="ScreenWidth" serializeAs="String">
                <value>1920</value>
            </setting>
            <setting name="ScreenHeight" serializeAs="String">
                <value>1080</value>
            </setting>
            <setting name="RegionRatio" serializeAs="String">
                <value>2</value>
            </setting>
        </KinectDissertationProject.Properties.Settings>
    </userSettings>
</configuration>