<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KinectDissertationProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <KinectDissertationProject.Properties.Settings>
            <setting name="ScreenWidth" serializeAs="String">
                <value>1920</value>
            </setting>
            <setting name="ScreenHeight" serializeAs="String">
                <value>1080</value>
            </setting>
            <setting name="RegionRatio" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ElbowLeftTolerance" serializeAs="String">
                <value>-0.15</value>
            </setting>
            <setting name="ElbowRightTolerance" serializeAs="String">
                <value>0.06</value>
            </setting>
            <setting name="ElbowAboveTolerance" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="ElbowBelowTolerance" serializeAs="String">
                <value>-0.12</value>
            </setting>
        </KinectDissertationProject.Properties.Settings>
    </applicationSettings>
</configuration>